body {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e1e11;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: #fff;
  padding: 20px;
  margin-bottom: 60px;
}

.question {
  color: #fff;
  font-size: 18px;
  max-width: 300px;
  background-color: #51e337;
  padding: 20px;
  border-radius: 10px;
}

.options {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

li {
  list-style: none;
}
.option {
  background-color: yellow;
  padding: 10px;
  transition: .6s;
  border-radius: 10px;
  color:  #5c5c5c;
  cursor: pointer;
}

.option:hover {
  background-color: #ade700;
}

.questionContainer {
  min-width: 300px;
  max-width: 600px;

}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form input, button {
  background-color: yellow;
  padding: 10px;
  height: 50px;
  border-radius: 10px;
}

.optionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap:  10px;
  flex-wrap: wrap;
}

input, button {
    font-size: 16px;
}

.optionsContainer button, .optionsContainer input{
  width: calc(100vw / 2 - 40px);
  margin: 0;
  height: 40px;
  padding: 10px;
  box-sizing: border-box;
}

.optionsContainer button {
  background-color: #51e337;
  transition: .6s;
}

.optionsContainer button:hover {
  background-color: #349323;
  color: #fff;
}

.optionsContainer input {
  outline-color: #349323;
}

a {
    background-color: #51e337;
    color: #fff;
    display: block;    
    padding: 8px;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 40px;
}

/*HOME PAGE*/

#home-page {

}

#home-page .header {
  color: #fff;
  font-family: monospace;
  font-stretch: ;
}

#home-page .header .counter {
  background-color: #fff;
}

#home-page .main a {
  transition: .6s;
}

#home-page .main a:hover{
  background-color: #ccc;
  color: #51e337;

font-weight: bolder;
}
